.jumbotron{
    background-image: url("https://s187.convertio.me/p/_tTC8wgiUhqFNNCSOVDw2Q/06ada59a0512e7657985ca40cfd391d8/FD53F012-3EB2-406D-A9B3-D8A0A417B1E4.webp");
   background-size:cover;
   height: 600px;
}
h1{
    color: yellow;
    text-align: center;
    
}